.icon {
	display: inline-block;
	margin: 2px;
	height: 16px;
	width: 16px;
	/* background-color: #ccc; */
}

/* ICONS */
.icon-classified {
	background: url('../js/images/line-icon-classified.png') center center no-repeat;
}

.icon-none {
	background: url('../js/images/line-icon-none.png') center center no-repeat;
}

.icon-hww {
	background: url('../js/images/line-icon-hww.png') center center no-repeat;
}

.icon-ww {
	background: url('../js/images/line-icon-ww.png') center center no-repeat;
}

.icon-fussw {
	background: url('../js/images/line-icon-fussw.png') center center no-repeat;
}

.icon-rufw {
	background: url('../js/images/line-icon-rufw.png') center center no-repeat;
}

.icon-radw {
	background: url('../js/images/line-icon-radw.png') center center no-repeat;
}

.icon-reitw {
	background: url('../js/images/line-icon-reitw.png') center center no-repeat;
}

.icon-gemgrenz {
	background: url('../js/images/line-icon-gemgrenz.png') center center no-repeat;
}

.icon-marker {
	background: url('../js/images/marker-icon-blue-small.png') center center no-repeat;
}

.icon-feldbloecke {
	background: url('../js/images/icon-feldbloecke.png') center center no-repeat;
}

.icon-a {
	background: url('../js/images/line-icon-a.png') center center no-repeat;
}

.icon-b {
	background: url('../js/images/line-icon-b.png') center center no-repeat;
}

.icon-c {
	background: url('../js/images/line-icon-c.png') center center no-repeat;
}

.icon-d {
	background: url('../js/images/line-icon-d.png') center center no-repeat;
}

.icon-e {
	background: url('../js/images/line-icon-e.png') center center no-repeat;
}

.icon-f {
	background: url('../js/images/line-icon-f.png') center center no-repeat;
}

.icon-g {
	background: url('../js/images/line-icon-g.png') center center no-repeat;
}

.icon-h {
	background: url('../js/images/line-icon-h.png') center center no-repeat;
}

.icon-i {
	background: url('../js/images/line-icon-i.png') center center no-repeat;
}