:root {
  --text: #777777;
  --border: #ddd;
  --color1: #ccc;
}

body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
}

a {
  font-size: 11px;
}

#container {
  margin: 20px;
  width: 300px;
  height: 8px;
  position: relative;
}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 12px;
  transition-duration: 0.2s;
  border-radius: 4px;
}

.button:hover:enabled {
  background-color: var(--color1);
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.button:active {
  background-color: var(--color1);
  opacity: 0.8;
  border: none;
  color: white;
}

.button:focus {
  outline-color: #f7f7f9;
}

td {
  font-size: 12px;
}

table {
  padding: 10px;
}
